@import "../../styles";

.section-title {
  color: $blackColor;
  font-weight: 400;
  text-align: center;
  @media only screen and (max-width: $xs) {
    font-size: 30px;
   
  }
  @media only screen and (min-width: $sm) {
    font-size:36px;
    
  }
  @media only screen and (min-width: $md) {
    font-size:50px;
  }
  @media only screen and (min-width: $lg) {
    font-size:60px;
  }
  @media only screen and (min-width: $xl) {
    font-size:70px;
  }
}