@import "../../styles";

.btn {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.3s ease;

  &:hover {
    transform: translateY(-2px);
  }

  &--primary {
    &--solid {
      background-color: $primaryColor;
      color: $whiteColor;
      border: none;
    }
    &--outline {
      background-color: transparent;
      color: $primaryColor;
      border: 2px solid $primaryColor;
    }
  }

  &--medium {
    padding: 10px 20px;
    font-size: 18px;
  }

  &--large {
    padding: 15px 30px;
    font-size: 20px;
  }

  &--round {
    padding:0;
    border-radius: 100px;
    height:40px;
    width: 40px;
     @media only screen and (min-width: $xl) {
      height:60px;
      width: 60px;
     }
  }

  &--square {
    border-radius: 8px;
  }
}


