@import "../../styles";

.btn {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.3s ease;

  &:hover {
    transform: translateY(-2px);
  }

  &--primary {
    &--solid {
      background-color: $greyColor;
      color: $blackColor;
      border: none;
    }
    &--outline {
      background-color: transparent;
      color: $blackColor;
      border: 1px solid $greyColor;
    }
  }

  &--medium {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 700;
  }

  &--large {
    padding: 15px 30px;
    font-size: 20px;
  }

  &--round {
    padding:0;
    border-radius: 100px;
  }

  &--square {
    border-radius: 8px;
  }
}


