@import "../../styles";

.card {
  background-color: #FFFFFF;
  max-width: 400px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 2px 2px 6px #dddddd;
  transition: transform 0.5s ease;

  @media only screen and (max-width: $md) {
    margin: 30px auto;
  }

  @media only screen and (min-width: $md) {
    margin: 50px auto;
  }

  &:hover {
    transform: translateY(-8px);
    cursor: pointer;
  }
  &__video {
    position: relative;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
    height: 160px;
  }

  &__copy {
    padding: 20px;
  }
}

.overlay {
  position:absolute;
  top:0;
  left:0;
  z-index:1;
}